* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}



body {
  overflow-x: hidden;
  width: 100% !important;
}

.idioma {
  display: flex;
  margin-right: 40px;
}
.botonIdioma {
  font-size: 12px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin-top: 7px;
  background-color: transparent;
  margin-right: 20px;
  padding: 10px;
  color: white;
}

.botonIdioma:hover {
  text-decoration: none;
  color: cadetblue;
  background-color: transparent;
}


#navbarNavAltMarkup{
  position: relative;
  top: 10px;
}

.navbar-nav {
  margin-left: auto;
}

.logo {
  position: relative;
  bottom: 5px;
}

.banderas {
  display: flex;
}

.navbar {
  height: 100%;
}

.linkNav{
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: 5px;
}



.navbar-toggler {
  width: 60px;
}
.nav-link {
  font-weight: 500 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 
}

.nav-link:hover {
  color: cadetblue !important;
}
.navFijo {
  background-color: #2c3e4d;
  height: 100px;
}


.logo1 img{
  height: 70px;
}

.home {
  background-image: url(../recursos/parallax3_v2.png);
  height: 1100px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important;
}

.imgSection {
  width: 500px ;
  margin-bottom: 100px;
}
.containertextosParallax {
  position: relative;
  top: 250px;
}

.containerButton {
  display: flex;
  justify-content: start;
  padding-top: 50px;
}

.buttonInfo {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: #2c3e4d;
  border: 0px rgb(245, 245, 245);
  animation-name: pulse;
  animation: pulse 2s 3s ease-out infinite;
  transition-delay: 1.9s;
  color: #fff;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.9;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.buttonInfo:hover {
  color: cadetblue;
}

.textoParallaxIndex {
  font-weight: 500;
  line-height: 140%;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.imgParallax {
  margin-top: 30px;
  margin-left: 200px;
  width: 400px;
}

#Us{
  color: #fd7301;
}

.containerParallaxAbout{
  height: 900px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100% !important;
  padding-top: 200px;
/*   background-image: url(../recursos/parallax-about.png); */

}
.tituloSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
   font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
    width: 735px !important;
}

.containerFotoSection{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100px;
}

.tituloPrincipal--section {
  color: cadetblue;
  margin-bottom: 50px;
}

.principios1 {
  margin-top: 30px;
  font-size: 20px;
  color: #fd7301;
}

.principios2 {
  margin-top: 30px;
  font-size: 20px;
  color: #7dd858;
}

.principios3 {
  margin-top: 30px;
  font-size: 20px;  
  color: #21b0fc;
}

/* Inicio Marcas carrousel */
.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: calc(200px * 14);
  gap: 300px;
}

.slider .slide {
  width: 500px;
}

.slider .slide img {
  width: 240px;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}
/* Fin */
.fa {
  margin-right: 5px;
}

div span {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.fa {
  margin-right: 5px;
}

div span {
  display: block;
  margin-bottom: 5px;
  color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.tituloRazon {
  font-size: 30px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: 50px;
  margin-top: 100px !important;
  color: cadetblue;
}

.tituloService1 {
  font-size: 20px;
  margin-bottom: 40px;
  color: #1b2140;
  text-transform: uppercase;
}

.tituloService2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1b2140;
  text-transform: uppercase;
}

.tituloService3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1b2140;
  text-transform: uppercase;
}

.tituloService4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #1b2140;
  text-transform: uppercase;
}

.tituloService5 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #1b2140;
  text-transform: uppercase;
}

.tituloService6 {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #1b2140;
}

.imgService {
  vertical-align: bottom;
}


.containerRazone:hover {
  transform: translateY(-10px);
}

.containerRazones {
  background-image: url(../recursos/parallax-about.png);
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 200px;
  margin-bottom: 50px;
  
}


.containerRazones p {
  margin-top: 20px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #6c757d;
  line-height: 1.6;
  margin-bottom: 10px;

}

.containerRazone {
  width: 30% !important;
  flex: 1 1 calc(33% - 40px);
  margin: 10px;
  padding-top: 40px;
  background: linear-gradient(135deg, #ffffff3d, #e6e9f028); /* Gradiente sutil */
  box-shadow: 0 2px 20px rgba(21, 61, 172, 0.1); /* Sombra suave */
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
}


.containerRazon{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center ;
}

.containerRazon  ul{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #6c757d;
}

.containerRazon1{
  margin-left: 150px;
}


.containerRazon2{
  margin-left: 150px;
}


.services1 , .services2{
  display: flex;
  justify-content: center;
}
/*INICIO CITA*/
.citaContainer {
  margin-top: 300px;
  margin-bottom: 400px;
}

hr {
  display: flex !important;
  margin: auto !important;
  margin-bottom: 100px !important;
  width: 500px !important;
}

.hr2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.hrEdit {
  width: 80%;
}
.parrafoCita {
  text-align: center;
  width: 600px;
  font-size: 30px !important;
  position: relative;
  left: 350px;
  font-weight: 300;
}

.personaCita {
  color: cadetblue;
}

/*FIN CITA*/


/* INICIO SOLUTIONS */

.tituloSolutions{
  font-size: 30px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: cadetblue;
}

.parrafoSolutions{
  font-size: 20px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  color: cadetblue;
}

.containerSolutions{
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
/*   background-color: #F6F5FA; */
  background-image: url(../recursos/parallax-solution.jpg); 
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-top: 50px;
}
ul {
  list-style: disc;
}
.containerSoluciones{
  width: 20% !important;
  flex: 1 1 calc(33% - 40px);
  margin: 10px;
  padding-top: 40px;
  background: linear-gradient(135deg, #ffffffa8, #e6e9f031); /* Gradiente sutil */
  box-shadow: 0 2px 20px rgba(21, 61, 172, 0.1); /* Sombra suave */
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  padding-bottom: 40px;
}

.containerSoluciones:hover {
  transform: translateY(-10px);
}

.containerSoluciones p{
  text-align: center;
}

.textoSolutions{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container-img-solutions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-seguridad{
  width: 80px;
  margin: 20px;
}

.containerSoluciones ul {
  list-style-position: inside; /* Hace que los puntos aparezcan dentro del contenedor */
  padding: 0;
  margin: 0;
  padding-left: 90px !important;
}

.containerSoluciones ul li {
  text-align: left; /* Alinea cada ítem a la izquierda */
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  color:#6c757d ;
}

/* FIN SOLUTIONS */




/*INICIO CONTACTO*/
.c {
  display: flex;
  justify-content: flex-start;
  margin-top: 200px;
}

.titleContacto {
  font-size: 40px;
  padding-top: 50px;
  color: cadetblue;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.contacto_p {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

form label {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

form .buttonContact {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container__Contact {
  height: 100%;
  position: relative;
  left: 40px;
}

.contactoNumero {
  font-size: 25px;
  padding: 20px;
  position: relative;
  bottom: 10px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.c {
  position: relative;
  bottom: 100px;
}
.contactoNumero:hover {
  color: #695545;
}

#submitButton {
  background-color: cadetblue;
  border-radius: 50px 50px;
  height: 65px;
}

.containerCelular {
  position: relative;
  bottom: 50px;
  left: 50px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
}

.containerDireccion {
  display: flex !important;
  left: 70px;
  position: relative;
}

.mapGif {
  position: relative;
  bottom: 10px;
  padding-right: 10px;
}

.fotoContacto {
  border-radius: 40px;
}

.fotoContainer {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 50px;
}

hr.divider {
  max-width: 3.25rem;
  margin: 1.5rem auto;
}

.bi-phone::before {
  content: "\f4e7";
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: rgb(81, 119, 121);
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  display: block;
}

textarea {
  height: 200px !important;
}

/*FIN CONTACTO*/

/*INICIO FOOTER*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background: #2c3e4d;
}

.containerFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;
}

.containerForm {
  width: 100%;
  height: 700px;
  margin-top: 10px;
}

.logoFooter {
  width: 150px;
  position: relative;
  bottom: 50px;
  right: 10px;
  margin-top: 40px;
}

.containerLogoFooter {
  display: flex;
  justify-content: center;
}

.Redes {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  
}

.Redes__img-footer {
  margin-right: 10px;
}

.derechosReservados {
  
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1em;
}

.creador {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*FIN FOOTER*/


/*MEDIA MOBILE*/

@media (max-width: 997px) {
  .navFijo {
    height: 100%;
    padding-bottom: 30px;
    background-color: transparent;
  }

  .nav-link {
    padding-bottom: 20px !important;
    margin-top: 20px;   
    margin-left: 10px;
  }

  .navbar-toggler{
    border: #333333 solid 2px !important;
    background-color: rgba(255, 255, 255, 0.548) !important;
  }

  .navbar-toggler:hover {
    background-color: #40606f !important;
  }

  .linkNav{   
    flex-direction: column;    
  }

  .link{
    display: flex;
    justify-content:start;
    border-bottom: rgb(145, 145, 145) solid 0.5px;
    width: 105%; 
  }

  .logo1 img{
    width: 100%;
    height: 80px;
  }

  .logo {
    float: left !important;
  }

  .banderas {
    display: flex;
    justify-content: flex-end;
  }

  .buton:hover {
    background-color: cadetblue !important;
  }

  

  .containerParallaxAbout {
    display: flex;
    padding-top: 10px;
    /* margin-top: 250px; */
    /* height: 500px; */
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
  .home {
    background-image: url(../recursos/parallax3_v2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    background-position-x: -513px !important;

  }
  
  
  .containertextosParallax {
    position: relative;
    top: 250px;
  }
  .containerInformacion {  
    position: relative;
    left: 0px !important;
  }
  .seccionImg {
    width: 100% !important;
  }
.imgSection{
  width: 400px ;
  margin-bottom: 100px;
}
.containerFotoSection{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
}

.tituloService1 {
  font-size: 20px;
  color: #fd7301;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.containerSoluciones{
 flex: none !important;
 width: 80% !important;

}

.containerSolutions{
  height: 100% !important;
  padding-top: 50px;
  margin-top: 80px;

}

.tituloSolutions {
  margin-bottom: 20px;
}
  .body {
    overflow-x: hidden;
    width: 100% !important;
  }

.pInformacion{
  margin-bottom: 60px;
}

.parrafoSolutions {
  font-size: 16px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: cadetblue;
}

.tituloPrincipal--section{
  margin-bottom: 20px;
}

  .textoParallaxIndex {
    font-size: 1.5rem;
  }


/* Inicio marcas */
.slider .slide-track {
  display: flex;
  animation:  linear infinite;
  -webkit-animation: scroll 25s linear infinite;
  gap: 100px;}

  .slider .slide img {
    width: 150px;
}
/* Fin marcas */
  .containerRazone{
    margin-bottom: 35px;
    max-width: 350px !important;
 
  }

  .containerRazones {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .containerRazon{
    margin-left: 0px !important;
  }
  .containerRazon1{
    margin-left: 0px !important;
  }
  
  
  .containerRazon2{
    margin-left: 0px !important;
  }

 

  .fotoContacto {
    display: none;
  }



  .c {
    position: relative;
    right: 40px;
  }

  .titleContacto {
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
    color: cadetblue;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .contactoNumero {
    margin-bottom: 30px;
  }

  .containerCelular {
    position: relative;
    top: 20px;
    left: 5px;
  }


  .containerDireccion {
    left: 0px !important;
    position: relative;

  }
  
  .mapGif {
    display: none;
  }

  .textFooter {
    margin-bottom: 30px;
  }

  .logoFooter {
    margin-top: 50px !important;
  }

  .containerFooter {
    width: 100%;
  }

}


@media only screen and (min-width: 200px) and (max-width: 700px)  {

  .home{
    background-position-x: -513px !important;
  }

  .containerRazone {
      width: 50% !important;
      flex-shrink: 1 !important;
  }

.containerSoluciones ul{
  padding-left: 0% !important;
}

.logo1 img {
  width: 100%;
  height: 60px;
}


.titleContacto {
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: 20px;
  color: cadetblue;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


.imgSection {
  width: 319px;
  margin-bottom: 100px;
}

}
@media only screen and (min-width: 1000px) and (max-width: 1400px)  {

  .linkNav{
   
    flex-direction: row;
    
  }

  .link{
    display: flex;
    justify-content:start;
  }
 
  .containerFotoSection {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    position: relative;
    left: 0px !important;
    margin-bottom: 40px;
}

.containerParallaxAbout{
  padding-top: 20px;
  text-align: center;
}

.tituloSection {
  width: 100% !important;
}

.containerSolutions{
  height: 100% !important;
}

.containerSoluciones{
  width: 40% !;
}


}

/* Responsive design services*/
@media (max-width: 992px) {
  .containerRazone {
      margin-bottom: 20px;
  }


}



/*  */
  

/* Cada cuadro de servicio */


/* Efecto hover */


/* Títulos */
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 15px;
}

/* Texto de los párrafos */


/* Estilo de los ítems de lista */




/* Diseño responsive */
@media (max-width: 992px) {
  .containerRazone {
      flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .containerRazone {
      flex: 1 1 100%;
  }
}
    
  
  /*FIN MEDIA MOBILE*/

